


<section class="banners">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="banners-box">
                        <span class=
                                      "glyphicon icon-direction304 glyphicon--banners"></span>
                    <b class="banners__title">Git hub Api integration</b>
                    Angular application
                </div>
            </div>
            
        </div>
    </div>
</section>
